//SCSS IMPORT
@import "./partials/header";
@import "./partials/_variables";


//GENERAL IMPORT
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import "bootstrap/scss/bootstrap";

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $white;
}

.fw-400{
    font-weight: 400!important;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: $text-accent;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    width: 100%;
    height: 100vh;
    padding: 60px 0;
    overflow: hidden;
}

.text-black{
    color: $black;
}

/*--------------------------------------------------------------
# Button
--------------------------------------------------------------*/

.btn  {
    padding: 9px 26px;
    border: none!important;
    border-radius: 25px;
    width: auto;
    font-size: 15px;
    font-weight: 500;
    color: #fff!important;
    transition: all .15s ease-out!important;
        cursor: pointer;
}

.btn-hero {
    padding: 14px 39px 13px;
}

.btn-blue{
    background-image: linear-gradient(90deg, #03a7d3 0%, #1f3c81 100%);
}

.btn-blue:hover,
.btn-blue:focus:hover {
    color: #fff;
    background-image: linear-gradient(90deg, #f9636b 0%, #b6246e 100%);
}

.btn-red {
    background-image: linear-gradient(90deg, #f9636b 0%, #b6246e 100%);
}

.btn-red:hover,
.btn-red:focus:hover {
    color: #fff;
    background-image: linear-gradient(90deg, #03a7d3 0%, #1f3c81 100%);
}