$text-primary: #f4f4f4;
$text-secondary: #54595f;
$text-accent: #f9636b;

$white: #fff;
$black: #000;

$background-white: #fff;
$background-form: linear-gradient(100deg, #b6246e 8%, #f9636b 83%);
$border-profile: #b6246e;