@import "../partials/_variables";


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;

    .logo img {
            max-height: 65px;
        }
}

#header.header-scrolled,
#header.header-inner-pages {
    background: rgba(40, 58, 90, 0.9);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.navbar {
    padding: 0;


    ul {
            margin: 0;
            padding: 0;
            display: flex;
            list-style: none;
            align-items: center;
        }

    li {
            position: relative;
        }

    a, a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 10px 30px;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        white-space: nowrap;
        transition: 0.3s;
    }

    a i, a:focus i{
        font-size: 12px;
            line-height: 0;
            margin-left: 5px;
    }

    a:hover, 
    .active, 
    .active:focus, 
    li:hover>a {
            color: $text-accent;
        }

    .signin,
    .signin:focus {
        margin-left: 30px; 
    }
}